.m1{
    color: cyan;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.m2{
    font-size:30px;
}
.y{
    transform: rotate(180deg);
}
h2{
    text-decoration: overline;
     text-transform:capitalize ;
}
h3{
    text-decoration: line-through;
    text-transform: uppercase;
}
h4{
    text-decoration: underline;
    text-transform: lowercase;
}
h5{
    text-decoration: none;
    text-decoration: overline underline;
}
h6{
    text-decoration: wavy underline;
    text-transform: capitalize;
}
.v{
    text-shadow: 2px 2px 1px lawngreen;
    box-shadow: 5px 2px 6px red;
    text-indent:50px ;
}